doctype html
html
  head
    //link(rel='stylesheet', href='../stylesheets/style.css')
  body
    div(style='display:inline-block')
      //img.w-10-all(src='../../assets/images/logo.png')
      a(href='/') Home
      |
      |
      a(href='/apply') Apply
      |
      |
      a(href='/scan') Search Database
      |
      |
      a(href='/scan-edit-redirect') Edit Database
      |
      |
      a(href='/scan-t0d') Search Database-t0d
    br
    br
