doctype html
html
    head
        title #{title}
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(charset='UTF-8')
        //link(rel='stylesheet', href='/assets/Tablefilter-master/dist/tablefilter/style/tablefilter.css')
        //script(src='/assets/Tablefilter-master/dist/tablefilter/tablefilter.js')
    body
        include ../partials/header.partial.pug
        #tableHideShow
        table
            thead
                tr.fltrow(style='background-color: #f2f2f2 !important')
                    td
                        label(for='social-security') SSN
                        input#social-security.flt(type='text', name='ssn')
                    td
                        label(for='dob') DOB
                        input#dob.flt(type='date', name='dob')
                    td
                        label(for='last-name') Last Name
                        input#last-name.flt(type='text', name='lname')
                    td
                        label(for='first-name') First Name
                        input#first-name.flt(type='text', name='fname')
                    td
                        label(for='occupation') Occupation
                        input#occupation.flt(type='text', name='occupation')
                    td
                        label(for='emp') Employer
                        input#emp.flt(type='text', name='employer')
                    td
                        label(for='application-date') Application Date
                        input#application-date.flt(type='date', name='date')
                    td
                        button.flt(type='button', (click)='showScanResults()') Search
                        //
                            <button type="button"
                            onclick="clearTable(); clearCaption(); showScanResults(); tf.destroy(); deleteFirstRow();"
                            class="flt">Search</button>
        br
        br
        table#resultsTable(style='display: none !important')
            thead
                tr(style='background-color: #f2f2f2')
                    th SSN
                    th DOB
                    th Last Name
                    th First Name
                    th Occupation
                    th Employer
                    th Application Date
            tbody#resultsTableBody
                tr(style='display: none !important')
                    th
                    th
                    th
                    th
                    th
                    th
                    th
